body {
  text-align: center;
  background-color: #FCFCFC;
}

.container {
  margin: 0 auto;
}
.toggle-status ul {
  padding:0;
  list-style:none;
}
.toggle-status ul li{
  display:inline-block;
  font-size:1.15em;
  text-transform:uppercase;
}
.toggle-status a {
  text-decoration:none;
  color:#000;
  padding:6px 20px;
  display:block;
}
.results-field {
  max-width: 900px;
  margin: 0 auto;
}
h1, nav, footer {
   font-family: "Raleway", sans-serif;
}
header h1 {
   
  font-weight: 500;
  font-size: 2.8em;
  margin-bottom:1em;
}
h2 {
  font-size:1.4em;
  margin:0 20px 0 0;
}
nav {
  overflow:hidden;
}
nav ul {
  margin:0;
}
.result {
  text-align: left;
  padding:3px;
}

.channel-logo {
  height: 75px;
  width: 75px;
}

.channel-logo,
.channel-name,
.current-game,
.status{
  display: inline-block;
  margin-right:20px;
}
.status{
  font-style:italic;
  word-wrap:normal;
}
.online .status {
  display:block;
  margin:0;
}
.result-text {
  display: inline-block;
  font-family: 'Inconsolata', sans-serif;
  color:#2b2b2b;
}
.online h2, .offline h2 {
  color:#2b2b2b;
}
.result-text p, .result-text a {
  font-size:1.15em;
}
.current-game a {
  color:#fff;
}
.channel-logo, .result-text {
  vertical-align:middle;
}
.missing {
  background-color:#E0E0E0;
  border-bottom:1px solid #858585;
}
.missing .result-text {
  color:#949494;
}
.online, #filter-online {
  background-color:#AFE3C8;
  border-bottom:1px solid #56A67D;
}
#filter-all{
  background-color:#CCABEB;
  border-bottom:1px solid #8462A3;
}
.offline, #filter-offline{
  border-bottom:1px solid #8AB0ED;
  background-color:#B8CFF5;
}
.offline .channel-logo {
  border: 1px solid #333;
}
.hidden{
  display:none;
}
footer {
  width: 100%;
  text-align: center;
  margin-top:80px;
  
}
footer img{
  max-width:100px;
  vertical-align:text-bottom;
}

@media screen and (max-width:550px){
  .result{
    text-align:center;
  }
  .result a {
    text-decoration:none;
  }
  .channel-logo,.channel-name,.current-game,.status{
    display:block;
  }
  .channel-logo{
    margin:10px auto;
  }
}
@media screen and (max-width:340px){
  .toggle-status a {
    padding: 6px 10px;
  }
}