body {
  text-align: center;
  background-color: #FCFCFC;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.toggle-status ul {
  padding: 0;
  list-style: none;
}

.toggle-status ul li {
  display: inline-block;
  font-size: 1.15em;
  text-transform: uppercase;
}

.toggle-status a {
  text-decoration: none;
  color: #000;
  padding: 6px 20px;
  display: block;
}

.results-field {
  max-width: 900px;
  margin: 0 auto;
  padding-left: 10px;
}

h1,
nav,
footer {
  font-family: "Raleway", sans-serif;
}

header h1 {
  font-weight: 500;
  font-size: 2.8em;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.4em;
  margin: 0 20px 0 0;
}

nav {
  overflow: hidden;
}

nav ul {
  margin-bottom: 15px;
}

.result-wrap {
  padding: 0 10px 10px 0;
}

.result {
  text-align: left;
  padding: 8px;
  min-height: 150px;
  max-height: 250px;
  overflow:hidden;
  -webkit-box-shadow: 0px 2px 1px #969696;
  -moz-box-shadow: 0px 2px 1px #969696;
  box-shadow: 0px 2px 1px #969696;
}

.logo-container {
  display: inline-block;
}

.channel-logo {
  height: 75px;
  width: 75px;
  margin-right: 10px;
}

.channel-logo,
.channel-name {
  display: inline-block;
}

.status {
  font-style: italic;
  word-wrap: normal;
  max-height: 110px;
  overflow: hidden;
  display: block;
  margin: 0;
}

.result-text {
  font-family: 'Inconsolata', sans-serif;
  color: #2b2b2b;
  vertical-align: top;
}

.online h2,
.offline h2 {
  color: #2b2b2b;
}

.result-text p,
.result-text a {
  font-size: 1.15em;
}

.current-game {
  margin: 8px 0;
}

.current-game a {
  color: #fff;
}

.channel-logo,
.result-text {
  vertical-align: middle;
}

.missing .result {
  background-color: #E0E0E0;
  border-bottom: 1px solid #858585;
}

.missing .channel-name,
.missing .result-text {
  color: #949494;
}

.online .result,
#filter-online {
  background-color: #AFE3C8;
  border-bottom: 1px solid #56A67D;
}

#filter-all {
  background-color: #CCABEB;
  border-bottom: 1px solid #8462A3;
}

.offline .result,
#filter-offline {
  border-bottom: 1px solid #8AB0ED;
  background-color: #B8CFF5;
}

.hidden {
  display: none;
}

footer {
  width: 100%;
  text-align: center;
  margin-top: 80px;
}

footer img {
  max-width: 100px;
  vertical-align: text-bottom;
}

@media screen and (min-width:768px) {
  .result {
    min-height: 250px;
    max-height: 250px;
  }
}

@media screen and (max-width:550px) {
  .result {
    text-align: center;
  }
  .result a {
    text-decoration: none;
  }
  .channel-logo,
  .channel-name,
  .current-game,
  .status {
    display: block;
  }
  .channel-logo {
    margin: 0 auto 10px;
  }
}